body {
    background: #002;
    color: #888;
    font-family: 'Source Code Pro', monospace;   
}

.div-time {
    font-size: 18em;
    white-space: nowrap;
    font-family: 'Roboto Mono', monospace;   
}

@media screen and (max-width: 768px) {
    .div-time {
        font-size: 10em;
    }   
}

#span-time-dt {
    font-size: 50%;
    color: #222;
}

#span-time-dt.active {
    color: #555;
}

.div-nums {
    font-size: 5em;
    white-space: nowrap;
}

.div-nums small {
    font-size: 60%;
}

.div-nums .unit {
	font-size: 40%;    
}

.div-chart {
    width: 100%;
    height: 250px;    
}

.clock-row {
    line-height: initial;
}

.span-value {
/*    margin: 0 0.2em 0 0.1em; */
}

.div-charts {
    height: 250px;
}

.div-chart-title {
    font-size: 6em;
    position: relative;
    top: -180px;
    opacity: 0.15;
    font-weight: 800;
    height: 0px;
}

a[title="JavaScript charts"] {
    display: none !important;
}
