[Unit]
Description=dockerized esp8266-sensors-data
Requires=docker.service                                                                                                          $
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker rm -f esp8266-sensors-instance
ExecStartPre=-/usr/bin/docker pull andreymalyshenko/esp8266-sensors-data:armhf
ExecStart=/usr/bin/docker run --name esp8266-sensors-instance --env ESP_ADDR=http://192.168.1.90:8080/data -p 8080:5000 -v /opt/esp8266-sensors-data:/data andreymalyshenko/esp8266-sensors-data:armhf 
ExecStartPost=/bin/sh -c 'while ! docker ps | grep esp8266-sensors-instance ; do sleep 1; done'
ExecStop=/usr/bin/docker rm -f esp8266-sensors-instance
TimeoutSec=0
RemainAfterExit=no
Restart=Always

[Install]
WantedBy=multi-user.target


